svg#apple_logo {
    fill: none;
    /* stroke: #A3AAAE; */
    stroke: url(#rainbow);
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    animation: fill 0.6s linear forwards 3s;
}

svg#apple_logo g path {
    stroke-dasharray: 2212;
    stroke-dashoffset: 2212;
    animation: line 4s cubic-bezier(0.37, 0, 0.63, 1) forwards;
}

@keyframes line {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
        stroke-width: 10px;
    }
    100% {
        /* fill: #A3AAAE; */
        fill: url(#rainbow);
        stroke-width: 5px;
    }
}
