/* General */

body {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--menu-color: #363940;
}


/* Icon */

.menu_icon {
	position: relative;
	width: 60px;
	height: 60px;
	background: none;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_inner {
	position: absolute;
	width: 70%;
	height: 4px;
	background: var(--menu-color);
	border-radius: 4px;
}

.menu_inner:before,
.menu_inner:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background: var(--menu-color);
	border-radius: 4px;
}

.menu_inner:before {top: -12px}
.menu_inner:after {top: 12px}

/* Animation */

.menu_arrow .menu_inner,
.menu_arrow .menu_inner:before,
.menu_arrow .menu_inner:after {
	transition: top, left, transform, width, 0.2s ease-in-out;
}

.menu_arrow.menu_active .menu_inner:before {
	width: 50%;
	top: 7px; left: -5px;
	transform: rotate(45deg);
}

.menu_arrow.menu_active .menu_inner:after {
	width: 50%;
	top: -7px; left: -5px;
	transform: rotate(-45deg);
}
