	body
	{
		background: #FFF5F5;
	}
	.container-counter
	{
		position: fixed;
		top: 80px;
		left: 100px;
		right: 100px;
		bottom: 80px;
		font-family: sans-serif;
		background-attachment: fixed;
		background-blend-mode: hard-light;
		background-image: url("back.jpg");
		background-size: cover;
		background-attachment: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: 3px solid #333;
		box-shadow: 0 50px 50px rgba(0,0,0,0.5),
					0 0 0 100px rgba(0,0,0,0.1);
	}
	.container-counter h2
	{
		text-align: center;
		font-size: 4cm;
		line-height: 100px;
		color: #333;
		margin-top: 100px;
		text-transform: uppercase;	
	}
	.container-counter h2 span
	{
		display: block;
		font-weight: bold;
		letter-spacing: 6px;
		font-size: 50px;
	}
	.countdown
	{
		display: flex;
		margin-top: -50px;
	}
	.countdown div
	{
		position: relative;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		background: #333;
		color: #fff;
		margin: 0 15px;
		font-size: 3em;
		font-weight: 500;
	}
	.countdown div:before
	{
		content: '';
		position: absolute;
		bottom: -30px;
		left: 0px;
		width: 100%;
		height: 35px;
		background: #ff0;
		color: #333;
		font-size: 40%;
		line-height: 35px;
		font-weight: bold;
	}
	.countdown #day:before
	{
		content: 'DAYS';
	}
	.countdown #hour:before
	{
		content: 'HOURS';
	}
	.countdown #minute:before
	{
		content: 'MINUTES';
	}
	.countdown #second:before
	{
		content: 'SECONDS';
	}