svg#nvidia_logo {
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

svg#nvidia_logo g path:nth-child(1) {
    fill: none;
    stroke: #76b900;
    stroke-dasharray: 726;
    stroke-dashoffset: 726;
    animation: line 5s cubic-bezier(0.37, 0, 0.63, 1) forwards,
        fill-logo 0.6s linear forwards 2.5s;
}

svg#nvidia_logo g path:nth-child(2) {
    fill: none;
    stroke: #ffffff;
    /* stroke: #000000; */
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
    animation: line 5s cubic-bezier(0.37, 0, 0.63, 1) forwards,
        fill-text 0.6s linear forwards 2.5s;
}

svg#nvidia_logo g path:nth-child(3) {
    opacity: 0;
    fill: #ffffff;
    /* fill: #000000; */
    stroke: none;
    animation: opacity 0.2s linear forwards 2.5s;
}

@keyframes line {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes opacity {
    100% {
        opacity: 1;
    }
}

@keyframes fill-logo {
    0% {
        fill: transparent;
        stroke: #76b900;
    }
    100% {
        fill: #76b900;
        stroke: transparent;
    }
}

@keyframes fill-text {
    0% {
        fill: transparent;
        stroke: #ffffff;
        /* stroke: #000000; */
    }
    100% {
        fill: #ffffff;
        /* fill: #000000; */
        stroke: transparent;
    }
}
