svg#dc_logo {
    fill: none;
    fill-rule: nonzero;
    stroke: #0074e8;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    animation: fill 0.6s linear forwards 3.5s;
}

svg#dc_logo g path {
    stroke-dasharray: 790;
    stroke-dashoffset: 790;
    animation: line 8s cubic-bezier(0.37, 0, 0.63, 1) forwards;
}

@keyframes line {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
        stroke: #0074e8;
    }
    100% {
        fill: #0074e8;
        stroke: transparent;
    }
}
