#preloader
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(315deg, #202020 30%, #000000 74%);
  z-index: 9999;
  transition: 0.5s;
}

/* The loader container */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 700;
  font-family: sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
}

.loader .text-wrapper {
  display: inline-block;
  padding: 20px;
  overflow: hidden;
}

.loader .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  background: -webkit-linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 668px)
{
  .loader
  {
    font-size: 30px;
  } 
}