/* General */

body {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--menu-color: #363940;
}


/* Icon */

.menu_icon {
	position: relative;
	width: 60px;
	height: 60px;
	background: none;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_inner {
	position: absolute;
	width: 70%;
	height: 4px;
	background: var(--menu-color);
	border-radius: 4px;
}

.menu_inner:before,
.menu_inner:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background: var(--menu-color);
	border-radius: 4px;
}

.menu_inner:before {top: -12px}
.menu_inner:after {top: 12px}

/* Animation */

.menu_slide .menu_inner,
.menu_slide .menu_inner:before,
.menu_slide .menu_inner:after {
	transition: transform, left, top, 0.2s ease-in-out;
}

.menu_slide.menu_active .menu_inner {
	transform: translateX(-64px);
}

.menu_slide.menu_active .menu_inner:before {
	top: 0; left: 32px;
	transform: translateX(32px) rotate(135deg);
}

.menu_slide.menu_active .menu_inner:after {
	top: 0; left: 32px;
	transform: translateX(32px) rotate(-135deg);
}
