/* General */

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --menu-color: #363940;
}

/* Icon */

div.menu_icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
}

/* Icon Open */

div.menu_icon .menu_open {
    position: absolute;
    width: 13.5px;
    height: 13.5px;
    background: var(--menu-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

div.menu_icon .menu_open.box_1 {
    top: 9.5px;
    left: 9.5px;
}

div.menu_icon .menu_open.box_2 {
    top: 9.5px;
    right: 9.5px;
}

div.menu_icon .menu_open.box_3 {
    bottom: 9.5px;
    left: 9.5px;
}

div.menu_icon .menu_open.box_4 {
    bottom: 9.5px;
    right: 9.5px;
}

/* Icon Close */

div.menu_icon .menu_close {
    position: absolute;
    width: 36.5px;
    height: 4px;
    background: var(--menu-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

div.menu_icon .menu_close.close_1 {
    transform: rotate(45deg) scaleX(0);
}

div.menu_icon .menu_close.close_2 {
    transform: rotate(-45deg) scaleX(0);
}

/* Active State: Animation */

div.menu_candy.menu_active .menu_open {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

div.menu_candy.menu_active .menu_close.close_1 {
    transform: rotate(45deg) scaleX(1);
}

div.menu_candy.menu_active .menu_close.close_2 {
    transform: rotate(-45deg) scaleX(1);
}
