svg#linkedin_logo {
    fill: none;
    stroke: #0a66c2;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    animation: fill 0.6s linear forwards 2s;
}

svg#linkedin_logo g path {
    stroke-dasharray: 4290;
    stroke-dashoffset: 4290;
    animation: line 4s cubic-bezier(0.37, 0, 0.63, 1) forwards;
}

@keyframes line {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
        stroke: #0a66c2;
    }
    100% {
        fill: #0a66c2;
        stroke: transparent;
    }
}
