body
{
	margin: 0;
	padding: 20px 100px;
	background: #fff;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #9B45E4;
}

#scrollbar {
	height: 8px;
	border-radius: 2px;
	background: #9B45E4;
	position: fixed;
	top: 0; left: 0;
}