#preloader {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: #FBF9FA;
    z-index: 9999;
    transition: all 0.4s ease;
}

/* The loader container */

img.loader {
    padding: 8px;
    background: #FFF;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.4s ease;
    border-radius: 50%;
    z-index: 4;
}