body {
	margin: 0;
	padding: 0;
	background: #1A1A2E;
}

.box {
	width: 500px;
	height: 300px;
	margin: 40px 0;
	/*background: #160f30;*/
	background-position: top;
	transition: ease-in-out 10s;
	cursor: url(cursor.png), pointer;
	background: linear-gradient(45deg, #171729, #1c1c31);
	box-shadow: 16px -16px 41px #0a0a12, 
	            -16px 16px 41px #2a2a4a;
}

.box.box1 { background: url(img/web1.png); background-size: cover; }
.box.box2 { background: url(img/web2.png); background-size: cover; }
.box.box3 { background: url(img/web3.png); background-size: cover; }
.box.box4 { background: url(img/web4.png); background-size: cover; }
.box.box5 { background: url(img/web5.png); background-size: cover; }
.box.box6 { background: url(img/web6.png); background-size: cover; }
.box.box7 { background: url(img/web7.png); background-size: cover; }
.box.box8 { background: url(img/web8.png); background-size: cover; }

.box:hover {
	background-position: bottom;
}
