body
{
	margin: 0;
	padding: 20px 100px;
	background: #fff;
}

::-webkit-scrollbar {
	display: none;
}

#scrollbar {
	width: 10px;
	border-radius: 2px;
	background: linear-gradient(109.6deg, rgba(255,207,84,1) 11.2%, rgba(255,158,27,1) 91.1%);
	position: fixed;
	top: 0; right: 0;
}