.c {
    position: relative;
    width: 90vmin;
    height: calc(90vmin * 9 / 16);
    margin: auto;
    overflow: hidden;
    box-shadow: 0 1.25em 1em -0.5em #0005;
  }
  
  .i {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  
  .img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 0% 50%;
       object-position: 0% 50%;
    transition: transform 1s;
  }
  .c:hover .img {
    transform: translateX(-3%);
    transition-duration: 5s;
  }
  
  :root {
    --s1-w: 40vmin;
    --s2-w: 60vmin;
    --s3-w: 10vmin;
  }
  
  @-webkit-keyframes move-x {
    50% {
      transform: translateX(var(--x1));
    }
    100% {
      transform: translateX(var(--x2));
    }
  }
  
  @keyframes move-x {
    50% {
      transform: translateX(var(--x1));
    }
    100% {
      transform: translateX(var(--x2));
    }
  }
  .s1,
  .s2,
  .s3 {
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-animation: gg 0.5s ease-out forwards;
            animation: gg 0.5s ease-out forwards;
    pointer-events: none;
  }
  .c:hover .s1,
  .c:hover .s2,
  .c:hover .s3 {
    -webkit-animation-name: move-x;
            animation-name: move-x;
  }
  
  .s1 {
    left: 100%;
    z-index: 1;
    width: var(--s1-w);
    background-color: #fff;
    mix-blend-mode: difference;
    --x1: -110vmin;
    --x2: -50vmin;
  }
  
  .s2 {
    z-index: 2;
    width: calc(var(--s2-w) * 2);
    left: calc(100% + var(--s1-w));
    background-color: #000;
    --x1: -110vmin;
    --x2: -90vmin;
  }
  
  .s3 {
    z-index: 2;
    width: 10vmin;
    right: 100%;
    background-color: #000;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    --x1: 0;
    --x2: 95%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    margin: 0;
    background: #333;
    color: #cca;
  }
  
  h1 {
    text-align: center;
  }
  
  .info {
    align-self: flex-end;
    margin: 3rem 1rem 1rem;
    text-align: right;
    font-size: 0.85em;
    font-style: italic;
    font-family: serif;
    opacity: 0.75;
  }
  .info a {
    color: inherit;
  }