#preloader {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 9999;
	transition: 0.5s;
}

/* The loader container */

.loader {
	position: absolute;
	top: 50%; left: 50%;
	width: 200px;
	height: 200px;
	transform: translate(-50%,-50%);
}

/* The Frames Dots */

.loader .dot {
	position: absolute;
	top: 50%; left: 50%;
	transform-type: preserve-3d;
	animation: 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

/* Large Dot */
.loader .dot1 {
	background: #14274E;
	width: 160px; height: 100px;
	margin: -50px 0 0 -80px;
	border-radius: 5px;
	z-index: 10;
	animation-name: dot1;
}

/* Medium Dot */
.loader .dot2 {
	background: #F1F6F9;
	width: 150px; height: 90px;
	margin: -45px 0 0 -75px;
	border-radius: 3px;
	z-index: 11;
	animation-name: dot2;
}

/* Small Dot */
.loader .dot3 {
	background: #394867;  
	width: 40px; height: 20px;
	margin: 50px 0 0 -20px;
	border-radius: 0 0 5px 5px;
	z-index: 12;
	animation-name: dot3;
}

/* Keyframes */

@keyframes dot1 {
	3%,97% {width: 160px; height: 100px; margin: -50px 0 0 -80px;}
	30%,36% {width: 80px; height: 120px; margin: -60px 0 0 -40px;}
	63%,69% {width: 40px; height: 80px; margin: -40px 0 0 -20px;}
}

@keyframes dot2 {
	3%,97% {width: 150px; height: 90px; margin: -45px 0 0 -75px;}
	30%,36% {width: 70px; height: 96px; margin: -48px 0 0 -35px;}
	63%,69% {width: 32px; height: 60px; margin: -30px 0 0 -16px;}
}

@keyframes dot3 {
  	3%,97% {width: 40px; height: 20px; margin: 50px 0 0 -20px;}
  	30%,36% {width: 8px; height: 8px; margin: 49px 0 0 -5px; border-radius: 8px; background: #F1F6F9;}
  	63%,69% {width: 16px; height: 4px; margin: -37px 0 0 -8px; border-radius: 10px; background: #F1F6F9;}
}