#preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F50C1A;
    z-index: 9999;
    transition: all 0.4s ease;
}

/* The loader container */

img.loader
{
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.4s ease;
    width: 100px; height: 100px;
    padding: 15px;
    background: #FFF;
    border-radius: 50%;
    z-index: 4;
}
